<header class="site-header" role="banner">

  <div class="wrapper">

    <div class="site-header-float">
    {% include _i18n/sitetitle.html class=true %}
    {% if site.pitch %}
      <span class="site-pitch">{% include _i18n/i18n.html value=site.pitch %}</span>
    {% endif %}

    {% if site.pitch == null %}
    <nav class="site-nav" id="navMenu">
      <span class="menu-icon" id="openNavToggler">
        <svg viewBox="0 0 40 25" width="30" height="20"><path d="M38 3H2L0 2V1l2-1h36l1 1v1l-1 1zm0 11H2l-2-1v-1l2-1h36l1 1v1l-1 1zm0 11H2l-2-1v-1l2-1h36l1 1v1l-1 1z"></path></svg>
      </span>
      <span class="menu-icon-close d-none" id="closeNavToggler">
        <svg width="30" height="20" viewBox="0 0 42 40"><path d="M23.65 20L39 4.66A2.587 2.587 0 1 0 35.34 1L20 16.35 4.66 1A2.587 2.587 0 1 0 1 4.66L16.35 20 1 35.34A2.587 2.587 0 1 0 4.66 39L20 23.65 35.34 39A2.587 2.587 0 1 0 39 35.34z"></path></svg>
      </span>
      <div class="trigger">
        {% include nav_menu.html %}
      </div>
    </nav>
    {% endif %}
    </div>

    {% assign nblangs = site.langs | size %}
    {% if nblangs > 1 %}
      {% include _i18n/lang_selector.html %}
    {% endif %}

  </div>

</header>

<script>
  function ready() {
    let openNavToggler = document.getElementById("openNavToggler");
    let closeNavToggler = document.getElementById("closeNavToggler");
    let menuOpened = document.getElementById("navMenu");
    openNavToggler.onclick = function () {
        menuOpened.classList.toggle("opened");
        openNavToggler.classList.toggle("d-none");
        closeNavToggler.classList.remove("d-none");
    };
    closeNavToggler.onclick = function () {
      menuOpened.classList.remove("opened");
      closeNavToggler.classList.toggle("d-none");
      openNavToggler.classList.remove("d-none");
    };

  }
  document.addEventListener("DOMContentLoaded", ready);

</script>
