---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Proza+Libre');

// Our variables
// $base-font-family: "Open Sans", sans-serif;
$base-font-family: "Crimson Text", serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.975;
$base-line-height: 1.25;

$alt-font-family: "Proza Libre", sans-serif;
$alt-font-weight: bold;

$spacing-unit:     50px;
$text-color:       #000 !default;
$header-color:     $text-color;
$background-color: #fff;
$brand-color:      $text-color;
/*$brand-color:      #9faab7;*/

$grey-color:       #3f3f3f;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-lighter: lighten($grey-color, 70%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    700px;

$on-palm:          768px;
$on-laptop:        1024px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "academic";
